<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#challenge" aria-controls="home" role="tab" data-toggle="tab">Challenge</a></li>
        <li role="presentation"><a href="#submissions" aria-controls="profile" role="tab" data-toggle="tab">Submissions</a></li>
        <li role="presentation"><a href="#leaderboard" aria-controls="messages" role="tab" data-toggle="tab">Leaderboard</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="challenge">
            <button ng-click="vm.getChallenge(1)">Get challenge details</button>
            <section>
                <h4>{{vm.challengeInfo.name}}</h4>
                <p>{{vm.challengeInfo.description}}</p>
            </section>
            <section>
                <h4>Rating: {{vm.challengeInfo.rating}}</h4>
                <p></p>
s challenge, you must save a line of input from stdin to a variable, print Hello, World. on a single line, and finally print the value of your variable on a second line.</section>
            <section>
                <h4>Note:</h4>
                <p>The instructions are Java-based, but we support submissions in many popular languages. You can switch languages using the drop-down menu above your editor, and the  variable may be written differently depending on the best-practice conventions of your submission language.</p>
            </section>
            <section>
                <h4>Input format</h4>
                <p>A single line of text denoting  (the variable whose contents must be printed).</p>
            </section>
            <div id="challenge-editor" style="height:501px;"></div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="submissions">
        <table ng-init="vm.getUserSubmissions(1)" class="submissions-table">
            <th>Submitted At</th>
            <th>Score</th>
            <tr ng-repeat="userSub in vm.userSubmissions">
                <td>{{userSub.created_at  | date:"MM/dd/yyyy 'at' h:mma" }}</td>
                <td>{{userSub.result_score}}</td>
            </tr>
        </table>    
            
        </div>
        <div role="tabpanel" class="tab-pane fade" id="leaderboard">...</div>
    </div>
    <button class="btn btn-primary" ng-click="vm.submitSolution(1)" type="submit">Button</button>
</div>

<script>
    $('.nav-tabs a').click(function (e) {
        e.preventDefault()
            $(this).tab('show')
    })
</script>
