<div class="container" ng-controller="DashboardController as vm">
    <h3>{{vm.subcategory}}challenges</h3>
    <div class="row">
        <a class="challenge-link">
            <div ng-repeat="challengeattempt in vm.latestattemptedchallenges">
                <div class="panel panel-default challenge-panel" >
                    <div class="panel-heading challenge-panel-heading">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 
                        {{challengeattempt.name}}
                        <p style="display: inline;float:right;">category: {{challengeattempt.category}}</p>
                    </div>
                    <div class="panel-body">
                        <p>max score: {{challengeattempt.score}}</p>
                        <p>rating: {{challengeattempt.rating}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

