<div id="page-wrapper" ng-class="{'open': vm.toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="vm.toggleSidebar()">
                    Deadline
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>CATEGORIES</span></li>
            <div ui-tree ng-cloak data-drag-enabled="false">
                <ol ui-tree-nodes="" ng-model="vm.categories">
                    <li ng-repeat="category in vm.categories" ui-tree-node>
                        <div class="category" ui-tree-handle ng-click="vm.showSubCategories()">
                            {{category.name}}
                        </div>
                        <div ng-class="{'hidden': !vm.subCategoriesAreShown}" ng-cloak>
                            <ol class="sub-categories-list" ui-tree-nodes="" ng-model="category.sub_categories">
                                <li ng-repeat="sub_category in category.sub_categories" ui-tree-node >
                                    <div class="sub-category" data-name="{{sub_category}}" ng-click="vm.getSubCategoryChallenges(sub_category)" ui-tree-handle>
                                        {{sub_category}}
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
            </div>
            <li class="sidebar-list">
                <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/two-man-army/deadline" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/two-man-army/deadline/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    Support
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="assets/img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Joe Bloggs
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Profile
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="#">
                                        Menu Item
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="#">
                                        Menu Item
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <div class="container" ng-if="vm.showLatestAttepmts">
                <h3>Latest attempted challenges</h3>
                <div class="row">
                    <a class="challenge-link">
                        <div ng-repeat="challengeAttempt in vm.latestAttemptedChallenges">
                            <div class="panel panel-default challenge-panel" >
                                <div class="panel-heading challenge-panel-heading">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i> 
                                    {{challengeAttempt.name}}
                                    <p style="display: inline;float:right;">Category: {{challengeAttempt.category}}</p>
                                </div>
                                <div class="panel-body">
                                    <p>Max Score: {{challengeAttempt.score}}</p>
                                    <p>Rating: {{challengeAttempt.rating}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container" ng-if="vm.showCategoryChallenges">
                <h3>{{vm.subcategory.name}} / All challenges</h3>
                <div class="row">
                    <div ng-repeat="challenge in vm.challenges">
                        <div ng-click="vm.goToChallenge(challenge.id)" class="panel panel-default challenge-panel" >
                            <div class="panel-heading challenge-panel-heading">
                                <i class="fa fa-check-circle" aria-hidden="true"></i> 
                                {{challenge.name}}
                                <p style="display: inline;float:right;">Category: {{challenge.category}}</p>
                            </div>
                            <div class="panel-body">
                                <p>Max Score: {{challenge.score}}</p>
                                <p>Rating: {{challenge.rating}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Editor -->
            <div class="container" ng-if="vm.showEditor">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#challenge" aria-controls="home" role="tab" data-toggle="tab">Challenge</a></li>
                    <li role="presentation"><a href="#submissions" aria-controls="profile" role="tab" data-toggle="tab">Submissions</a></li>
                    <li role="presentation"><a href="#leaderboard" aria-controls="messages" role="tab" data-toggle="tab">Leaderboard</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="challenge">

                        <div class="container">
                            <div class="row">
                                <div>
                                    <div ng-click="vm.goToChallenge(challenge.id)" class="panel panel-default challenge-panel" >
                                        <div class="panel-heading challenge-panel-heading">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                                            {{vm.challengeInfo.name}}
                                            <p style="display: inline;float:right;">Category: {{vm.challengeInfo.category}}</p>
                                        </div>
                                        <div class="panel-body">
                                            <p>Max Score: {{vm.challengeInfo.score}}</p>
                                            <p>Rating: {{vm.challengeInfo.rating}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section>
                            <h3>Description:</h3>
                            <blockquote ng-repeat="item in vm.challengeInfo.description">
                                <p>{{item}}</p>
                            </blockquote>
                        </section>
                        <div id="challenge-editor" style="height:501px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="submissions">
                        <table ng-init="vm.getUserSubmissions(1)" class="submissions-table">
                            <th>Submitted At</th>
                            <th>Score</th>
                            <tr ng-repeat="userSub in vm.userSubmissions">
                                <td>{{userSub.created_at  | date:"MM/dd/yyyy 'at' h:mma" }}</td>
                                <td>{{userSub.result_score}}</td>
                            </tr>
                        </table>    

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="leaderboard">...</div>
                </div>
                <button class="btn btn-primary" ng-click="vm.submitSolution(challenge)" type="submit">Button</button>
            </div>

            <script>
                $('.nav-tabs a').click(function (e) {
                    e.preventDefault()
                        $(this).tab('show')
                })
            </script>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
