<div id="page-wrapper" ng-class="{'open': vm.toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="vm.toggleSidebar()">
                    Deadline
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>CATEGORIES</span></li>
            <div ui-tree ng-cloak data-drag-enabled="false">
                <ol ui-tree-nodes="" ng-model="vm.categories">
                    <li ng-repeat="category in vm.categories" ui-tree-node>
                        <div class="category" ui-tree-handle>
                            {{category.name}}
                        </div>
                        <ol ui-tree-nodes="" ng-model="category.sub_catecories">
                            <li ng-repeat="sub_category in category.sub_categories" ui-tree-node>
                                <div class="sub-category" ng-click="vm.getSubCategory('Sorting')" ui-tree-handle>
                                    {{sub_category}}
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <li class="sidebar-list">
                <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/two-man-army/deadline" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/two-man-army/deadline/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    Support
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="assets/img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Joe Bloggs
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Profile
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="#">
                                        Menu Item
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="#">
                                        Menu Item
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <div class="container">
                <h3>Last solved challenges</h3>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> 
                            Binary search
                        </div>
                        <div class="panel-body">
                            Success Rate: 97.57% Max Score: 1 Difficulty: Easy
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
