// Activity feed styles go here

.activity-feed {
    .activity-feed-header {
        margin-bottom: 0; /* override semantic ui styles */
        font-family: "Poppins Light";
        font-size: 22px;
        font-weight: normal;
        color: #555555;
    }

    .activity-item {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #e1cee3;

        &:last-of-type {
            border-bottom: none;
        }

        img {
            border-radius: 50%;
            align-self: center;
            width: 40px;
            height: 45px;
        }

        h3  {
            margin-bottom: -7px;
            color: #2d2d2d;
            font-family: "Poppins Medium";
            font-size: 16px;
            font-weight: normal;
        }
    }
}

// could be replaced with more appropriate name
%activity-msg {
    color: #2d2d2d;
    opacity: .6;
    font-weight: normal;
}

.activity-content {
    flex: 1;

    .activity-msg {
        @extend %activity-msg;
        display: block;
        margin-top: -3px;
        font-family: "Poppins Light";
        font-size: 13px;
    }

    .activity-item-lvl {
        @extend .activity-msg;
        font-size: 11px;
    }
}

.activity-timeago {
    @extend %activity-msg;
    font-family: "Poppins Regular";
    font-size: 10px;
}
