// Put all categories' page styles here

.category-page {
    h2  {
        margin: 10px 0 20px 0;
        font-family: "Poppins Light";
        font-size: 24px;
        font-weight: normal;
        color: #333333;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
    }
}
