.chat-friend-msg {
  width: 100%;
  padding: 0 20px;
  margin: 15px 0;
  white-space: nowrap;

  .date-break {
    text-align: center;
    margin: 0 0 15px 0;

  //date-break-heading
    &-heading {
      color: #a1a1a1;
    }
  }

  .msg-wrapper {

    img {
      height: 40px;
      width: auto;
      display: inline-block;
    }

    p {
      display: inline-block;
      vertical-align: 60%;
      background: #ebebeb;
      border-radius: 18px;
      padding: 12px;
      margin:0 0 0 10px;
      max-width: 60%;
      white-space: normal;
    }
  }
}
