.dashboard {
    display: flex;
    flex: 1;

    .columns {
        display: flex;
        flex: 1;
    }

    .main {
        padding: 30px 30px 18px 30px;
        margin: 30px 20px 20px 30px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
