// right sidebar

.right-sidebar {
    margin: 30px 25px 20px 0;

    .follow-box {
        margin-bottom: 20px;
        padding: 8px 19px 15px 19px;
        width: 343px;
        height: 330px;
        background: #fff;

        .follow-box-header {
            display: flex;
            border-bottom: 1px solid #dedede;
        }

        ul  {
            margin-top: 20px;
        }

        .view-more-btn {
            float: right;
            font-family: "Poppins Regular";
            font-size: 11px;
            background: none;
            border: none;
            color: #600538;
        }
    }
}


.follow-box-header {
    h4  {
        font-family: "Poppins Medium";
        font-weight: normal;
        font-size: 16px;
        color: #32053d;
        flex: 1;
        margin-bottom: 11px; /* override semantic ui styles */
    }

    button {
        background: #30043d;
        border-radius: 18px;
        width: 25px;
        height: 25px;
        border: none;

        img {
            width: 10px;
        }
    }
}

.suggestion-item {
    display: flex;
    padding-bottom: 17px;

    .suggestion-content {
        flex: 1;

        .suggestion-item-lvl {
            font-family: "Poppins Regular";
            font-size: 11px;
            color: #2d2d2d;
            opacity: .6;
        }
    }

    .cancel-suggestion {
        width: 10px;
    }

    img {
        width: 40px;
        height: 45px;
        border-radius: 50%;
    }

    h3  {
        font-family: "Poppins Regular";
        font-size: 14px;
        font-weight: normal;
        color: #2d2d2d;
        opacity: .7;
        margin-bottom: -7px;
    }
}
