/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
}

video {
    width: 100%;
    position: absolute;
}

.form-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    margin: 20% auto;
    z-index: 10;
}

.landing {
    position: relative;
}

/* form */
/*
Copyright (c) 2017 by Mohan Khadka (http://codepen.io/khadkamhn/pen/ZGvPLo)


Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
body{
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10% auto;
    opacity: .8;
    width:100%;
    max-width:525px;
    min-height:670px;
    /* background:url(https://raw.githubusercontent.com/khadkamhn/day-01.form-container/master/img/bg.jpg) no-repeat center; */
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    z-index: 10;
}

.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(40,57,101,.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.form-container .group .check{
    display:none;
}

label,
.button {
    cursor: pointer;
}

.login-html .tab,
.form-container .group .label,
.form-container .group .button{
    text-transform:uppercase;
}

.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}

.form-container{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}

.form-container .group{
    margin-bottom:15px;
}

.form-container .group .label,
.form-container .group .input,
.form-container .group .button{
    width:100%;
    color:#fff;
    display:block;
}

.form-container .group .input,
.form-container .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}

.form-container .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}

.form-container .group .label{
    color:#aaa;
    font-size:12px;
}

.form-container .group .button{
    background:#1161ee;
}

.form-container .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}

.form-container .group label .icon:before,
.form-container .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}

.form-container .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}

.form-container .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}

.form-container .group .check:checked + label{
    color:#fff;
}

.form-container .group .check:checked + label .icon{
    background:#1161ee;
}

.form-container .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}

.form-container .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .form-container .sign-in-htm{
    transform:rotate(0);
}

.login-html .sign-up:checked + .tab + .form-container .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}

.foot-lnk{
    text-align:center;
}

div.login-html input:focus {
    outline: none;
    box-shadow: 0 0 20px #5686ff;
}

div.dashboard {
    margin-left: 280px;  /* to go beyond the sidebar */
}

div.lang-choice-select {  /* A wrapper for the Select choice for submission language */
    max-width: 250px;
}

.solution-tests-container {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.solution-tests-container .list {  /* Block display for each child list with tests */
    display: block !important;
}

/* Override semantic ui card styles */
.dashboard .ui.card {
    margin: 20px auto;
}

.dashboard .ui.card, .ui.cards>.card {
    width: 960px;
}

.dashboard .go-to-challenge {
    margin-top: 10px;
}

.page-not-found {
    margin-top: -20px;
    padding: 20px;
    background: peru;
}

.page-not-found h3 {
    display: inline-block;
}

.page-not-found p {
    margin-top: 20px;
}

.leaderboard-search i.dropdown.icon {
    /* Slight space for the triangle icon in the dropdown*/
    margin-left: 10px !important;
}

/* Dashboard header */
.dashboard-header {
    margin-bottom: 20px;
    background: #303336;
    height: 65px;
}


.dashboard-header .user {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(255, 85, 51)
}

.dashboard-header .notification-icon {
    margin-left: 5px;
}

.dashboard-header img {
    margin: 0 5px 0 10px;
    width: 50px;
    height: 50px;
}

.dashboard-header img:hover {
    cursor: pointer;
}

/* Account */
.account-options ul {
    width: 80%;
    text-align: center;
}

.account-options ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.account-options ul li:first-of-type {
    border-top: 1px solid #ccc;
}

.description.account-dialog {
    width: 100% !important;
}
