@import 'reset';
@import 'fonts';

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
}

video {
    width: 100%;
    position: absolute;
}

.landing {
    position: relative;
}

// includes styles for the login and register forms
@import 'forms';

div.lang-choice-select,
div.theme-select {  /* A wrapper for the Select choice for submission language */
    display: inline-block;
    width: 200px;
}

div.lang-choice-select {
    margin-right: 5px;
}

.editor-options {
    margin: 50px 0 10px 0;
}

button.fluid.submit-solution-btn {
    margin: 10px 0;
    opacity: .9;
}


.page-not-found {
    margin-top: -20px;
    padding: 20px;
    background: peru;
}

.page-not-found h3 {
    display: inline-block;
}

.page-not-found p {
    margin-top: 20px;
}

.leaderboard-search i.dropdown.icon {
    /* Slight space for the triangle icon in the dropdown*/
    margin-left: 10px !important;
}

// Header
@import 'components/header';

// Challenge
@import 'components/challenge-page';

// Profile
@import 'components/profile';

// Dashboard
@import 'components/dashboard';

// SidebarNav
@import 'components/sidebar-nav';

// ActivityFeed
@import 'components/activity-feed';

// FollowSuggestions
@import 'components/follow-suggestions';

// RanklistBox
@import 'components/ranklist-box';


// Categories
@import 'components/category-page';
@import 'components/category';
